.employee-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.table-page {
  max-height: 558px;
  overflow: scroll;
}
@media (width: 768px) {
  .table-page {
    max-width: 480px;
  }
}
@media (width: 425px) {
  .table-page {
    max-width: 307px;
  }
  .employee-page {
    padding: 2rem !important;
  }
}
